{{- if and (.Capabilities.APIVersions.Has "external-secrets.io/v1") (.Values.externalSecret) }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "chart.fullname" . }}-external-secret
  namespace: {{ if .Values.externalSecret.namespace }}{{ .Values.externalSecret.namespace }}{{ else }}{{ .Release.Namespace }}{{ end }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  refreshInterval: {{ .Values.externalSecret.refreshInterval | default "2s"}}
  secretStoreRef:
    kind: {{ .Values.externalSecret.secretStoreKind | default "SecretStore" }}
    name: {{ .Values.externalSecret.secretStore | quote }}
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: {{ include "chart.fullname" . }}
    template:
      data:
        POSTGRES_HOST: {{ .Values.postgres.host | quote }}
        POSTGRES_USER: "{{ `{{ .username }}` }}"
        POSTGRES_PASS: "{{ `{{ .password }}` }}"
        POSTGRES_URI_ARGS: {{ .Values.postgres.uri_args | quote }}
        POSTGRES_CLOUD_PROVIDER: {{ .Values.postgres.cloud_provider | quote }}
        POSTGRES_DEFAULT_DATABASE: {{ .Values.postgres.default_database | quote }}
  data:
    - secretKey: username
      remoteRef:
        key: {{ .Values.externalSecret.remoteKey | quote }}
        property: username
    - secretKey: password
      remoteRef:
        key: {{ .Values.externalSecret.remoteKey | quote }}
        property: password
{{- end }}

