apiVersion: apps/v1
kind: Deployment
metadata:
  name: ext-postgres-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ext-postgres-operator
  template:
    metadata:
      labels:
        name: ext-postgres-operator
    spec:
      serviceAccountName: ext-postgres-operator
      securityContext:
        runAsNonRoot: true
      containers:
        - name: ext-postgres-operator
          image: movetokube/postgres-operator:2.0.0
          imagePullPolicy: Always
          ports:
            - name: metrics
              containerPort: 8080
              protocol: "TCP"
          envFrom:
            - secretRef:
                name: ext-postgres-operator
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: KEEP_SECRET_NAME
              value: "false"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
      terminationGracePeriodSeconds: 10
