apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ext-postgres-operator
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - 'get'
- apiGroups:
  - "apps"
  resources:
  - replicasets
  - deployments
  verbs:
  - 'get'
