---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: postgresusers.db.movetokube.com
spec:
  group: db.movetokube.com
  names:
    kind: PostgresUser
    listKind: PostgresUserList
    plural: postgresusers
    singular: postgresuser
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PostgresUser is the Schema for the postgresusers API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PostgresUserSpec defines the desired state of PostgresUser
            properties:
              annotations:
                additionalProperties:
                  type: string
                type: object
              aws:
                description: PostgresUserAWSSpec encapsulates AWS specific configuration
                  toggles.
                properties:
                  enableIamAuth:
                    default: false
                    description: Enable IAM authentication for this user (PostgreSQL
                      on AWS RDS only)
                    type: boolean
                type: object
              database:
                description: Name of the PostgresDatabase this user will be related
                  to
                type: string
              labels:
                additionalProperties:
                  type: string
                type: object
              privileges:
                description: List of privileges to grant to this user
                type: string
              role:
                description: Name of the PostgresRole this user will be associated
                  with
                type: string
              roleSuffixLength:
                description: |-
                  Length of the random suffix appended to the role name.
                  Default is 6. Set to 0 to disable the suffix entirely.
                  Values 1-3 are not allowed as they provide insufficient uniqueness.
                enum:
                - 0
                - 4
                - 5
                - 6
                - 7
                - 8
                - 9
                - 10
                - 11
                - 12
                type: integer
              secretName:
                description: Name of the secret to create with user credentials
                type: string
              secretTemplate:
                additionalProperties:
                  type: string
                type: object
            required:
            - database
            - role
            - secretName
            type: object
          status:
            description: PostgresUserStatus defines the observed state of PostgresUser
            properties:
              databaseName:
                type: string
              enableIamAuth:
                description: Reflects whether IAM authentication is enabled for this
                  user.
                type: boolean
              postgresGroup:
                type: string
              postgresLogin:
                type: string
              postgresRole:
                type: string
              succeeded:
                type: boolean
            required:
            - databaseName
            - postgresGroup
            - postgresLogin
            - postgresRole
            - succeeded
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
