name: Publish Operator

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Generate Docker Tag
        run: |
          echo ${{ github.ref }} | cut -d '/' -f 3 > DOCKER_TAG
          echo "DOCKER_TAG=$(cat DOCKER_TAG)" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/movetokube/postgres-operator:latest
            ghcr.io/movetokube/postgres-operator:${{ env.DOCKER_TAG }}
            movetokube/postgres-operator:${{ env.DOCKER_TAG }}
            movetokube/postgres-operator:latest
