name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Go test
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v3
        with:
          go-version: '1.20.7'
      - run: |
          go test ./...
  build:
    runs-on: ubuntu-latest
    name: Go build
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v3
        with:
          go-version: '1.20.7'
      - run: |
          go build -mod=vendor -o operator github.com/movetokube/postgres-operator/cmd/manager
          file operator